{
  "extends": ["./node_modules/rete-cli/.eslintrc"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "React": true,
    "JSX": true
  },
  "plugins": [
    "react"
  ],
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "default",
        "format": ["camelCase"]
      },
      {
        "selector": "variable",
        "format": ["camelCase", "PascalCase", "UPPER_CASE"]
      },
      {
        "selector": "function",
        "format": ["camelCase", "PascalCase"]
      },
      {
        "selector": "typeLike",
        "format": ["PascalCase"]
      },
      {
        "selector": "enumMember",
        "format": ["UPPER_CASE"]
      },
      {
        "selector": "typeProperty",
        "format": ["camelCase", "PascalCase"]
      }
    ]
  }
}
